/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

/* Import sheets */
@import url(banner.css);
@import url(navbar.css);
@import url(about-me.css);

/* Styling */
h1 { font-size: 43.95px; }
h2 { font-size: 35.16px; }
h3 { font-size: 28.13px; }
h4 { font-size: 22.50px; }
p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: white;
}

body {
  background: #00204A;
  font-family: 'Raleway';
  padding: 0;
  margin: 0;
}

.container {
  width: 1040px;
  margin: 0 auto;
 }

.title-wrapper {
  display: flex;
  align-items: baseline;
  margin: 0;
}

.title-wrapper h2 {
  color: white;
  font-family: 'Fira Code';
  font-weight: 300;
}

.title-line {
  height: 2px;
  flex-grow: 1;
  background-color: #FDB44B;
  margin-left: 15px;
}

#subtitle {
  font-family: 'Fira Code';
  font-weight: 500;
  margin-bottom: 7px;
}
