/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

/* Import sheets */
@import url(banner.css);
@import url(navbar.css);
@import url(about-me.css);
@import url(my-projects.css);
@import url(contact.css);
@import url(form.css);

/* Styling */
h1 { font-size: 43.95px; color: white; margin: 0; }
h2 { font-size: 35.16px; color: white; margin: 0; }
h3 { font-size: 28.13px; color: white; margin: 0; }
h4 { font-size: 22.50px; color: white; margin: 0; }
p { font-size: 18px; color: white; margin: 0; font-weight: 400; }

body {
  background: #00204A;
  font-family: 'Raleway';
  padding: 0;
  margin: 0;
}

.container {
  width: 1050px;
  margin: 0 auto;
 }

.title-wrapper {
  display: flex;
  align-items: baseline;
}

.section-title {
  color: white;
  font-family: 'Fira Code';
  font-weight: 300;
  margin-bottom: 30px;
}

.title-line {
  height: 2px;
  flex-grow: 1;
  background-color: #FDB44B;
  margin-left: 15px;
}
